body * {
margin-left: 0%;
margin-right: 0%;
font-family: 'Work Sans', sans-serif;
}

/*--HEADER and NAVIGATION MENU--*/
.header {
    display: flex;
    background-color: #1f2937;
    font-family: Helvetica;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.nav-menu li {
    display: flex;
    padding: 10px
}

.nav-menu a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/*---SLIDER--*/

#slider {
    display: flex;
    background-color: #1f2937;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    min-height: 30em;
    justify-content: space-between;
}

.sl-left {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 50%;
}

.sl-left h1 {
font-size: 48px;
font-weight:900;
color: #f9faf8;
}

.sl-left p {
font-size: 18px;
color: #e5e7eb;
}

.sl-button {
display: flex;
justify-content: center;
align-items: center;
background-color: #3882f6;
font-weight: 600;
width: 150px;
height: 50px;
border-radius: 10px;
}

.sl-button a {
font-size: 18px;
color: #e5e7eb;
text-decoration: none;
}

.sl-right {
    display: flex;
    flex: 1 1 50%;
    align-items: center;
    justify-content: flex-end;
}

.sl-right img {
    max-width: 70%;

}

/*--SOME RANDOM INFORMATION--*/
#random-info {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10em;
}

.rinf-header {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.rinf-header h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

#image-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around
}

#image-box img {
    width: 150px;

    border-radius: 10%;
}

.pics {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pics p {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: left;
    max-width: 50%;
}

/*--QUOTE--*/

#quote-area {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30em;
    padding: 0em 10em 0em 10em;
}

.quote {
    flex-flow: row wrap;    3"
 
}

.quote p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    padding: 0 5em;
}

.thor {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: max-content;
}

.thor-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 100%;
    padding: 0 5em;
}

.thor p {
    margin: 0px;
    font-weight: 700;
    font-size: 1.8em;
    padding: 0 5em;
}